<section id = "profile_info">
  {{#if profile}}
  <span>Name:  {{profile.username}}</span>
  <span>Date Created: {{ profile.createdData}}</span>
  <span>Number of Rockets: {{rockets.length}} </span>
  {{/if}}
</section>

<section id="rocket_container">
  <div class="rockets">
    {{#if rockets}}
      {{#each rockets}}
        <div class = "rocket"><img src = "/assets/img/rocket64x64.png" alt = "rocket" class = "rocketPicture"/>
          <h3 class = "Name">Name:
              {{#each this.description}}
              {{#if this.name}}
              {{this.name}}</h3>
            {{/if}}
            {{/each}}
          <p class = "description">Description:
             <!--{{this.description.shortDesc}}</p>-->
             {{#each this.description}}
             {{#if this.shortDesc}}
             {{this.shortDesc}}</h3>
           {{/if}}
           {{/each}}
         </p>
          <h3 class = "dateCreated">Created On:
            <!-- {{this.description.createdData}}-->
             {{#each this.description}}
             {{#if this.createdData}}
             {{this.createdData}}</h3>
           {{/if}}
           {{/each}}
           </h3>
        </div>
      {{/each}}
    {{else}}
        <h3 class = "emptyRockets">No Rockets</h3>
    {{/if}}
  </div>
</section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
<script src="/assets/js/profile.js" type="text/babel"></script>
