<section id = "profile_info" class="panel panel-default panel-heading">
  {{#if profile}}
  <h1 class = "title" >Name:  {{profile.username}}</h1>
  <h2>Date Created: {{profile.createdData}}</h2>
  <h2>Number of Rockets: {{rockets.length}} </h2>
  {{/if}}
</section>

<section id="rocket_container">
  <div class="rockets">
    {{#if rockets}}
      {{#each rockets}}
        <div class = "rocket panel panel-default">
          <div class = "panel-heading">
          <img src = "/assets/img/rocket64x64.png" alt = "rocket" class = "rocketPicture"/>
          <h1 class = "name panel-title">Name:
              {{#each this.description}}
              {{#if this.name}}
              {{this.name}}</h1>
            {{/if}}
            {{/each}}
          </div>
          <p class = "description">Description:
             <!--{{this.description.shortDesc}}</p>-->
             {{#each this.description}}
             {{#if this.shortDesc}}
             {{this.shortDesc}}</h3>
           {{/if}}
           {{/each}}
         </p>
          <p class = "dateCreated">Created On:
            <!-- {{this.description.createdData}}-->
             {{#each this.description}}
             {{#if this.createdData}}
             {{this.createdData}}</h3>
           {{/if}}
           {{/each}}
         </p>
         <button type="button" id = "expandRocket" class = "btn btn-lg btn-default">More Info</button><br/>
        </div>
      {{/each}}
    {{else}}
        <h3 class = "emptyRockets">No Rockets</h3>
    {{/if}}
  </div>
</section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
<script src="/assets/js/profile.js" type="text/babel"></script>
